

nav{
    margin: 2px;
    padding: 2px;
    font-size: 18px;
}

nav a {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10%;
     color: rgb(187, 189, 211);
    background-color: rgb(40, 41, 105);;
    padding: 4px;
    margin: 1px;
   
}

nav a.active{
    color:aquamarine;
}