 button {
        padding:5px;
        margin:5px 10px;
        width:75px;
        background-color: gray;
    }

    td {
        border: 1px solid gray;
        background-color: lightblue;
        padding: 2px;
        font-weight: bold;
    }

    table {
        margin-left: 10px;
    }

