<h1>{{ name() }}</h1>

<table>
    <tr>
        <td>Nombre:</td>
        <td>{{ name() }}</td>
    </tr>
    <tr>
        <td>Edad:</td>
        <td>{{ age() }}</td>
    </tr>
    <tr>
        <td>Metodo:</td>
        <td>{{ heroDescription() }}</td>
    </tr>
    <tr>
        <td>Capitalizado:</td>
        <td>{{ heroDescription().toUpperCase() }}</td>
    </tr>
    <tr>
        <td>Capitalizado por signal computed:</td>
        <td>{{ toUpper() }}</td>
    </tr>
    <tr>
        <td>Capitalizado por pipe:</td>
        <td>{{ name() | uppercase }}</td>
    </tr>
</table>

<button (click)="changeHero()" class="btn btn-primary mx-2">
    Cambiar nombre
</button>

<button (click)="changeAge()" class="btn btn-primary">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>